
@{
    ViewBag.Title = "NoTenant";
}
<div class="row" style="margin: 1rem 0 0;">
    <div class="col-xs-4">
        <img style="float: right;" src="https://styleguide.dnvgl.com/images/logo/Logo-Extended-RGB.svg" />
    </div>
</div>
<div class="container">
    <h2>Ups!</h2>
    <p>Nothing here.</p>
</div>


