
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAuthorize</title>
</head>
<body>
<div>
    <h1>Unauthorized! Please Contact MYDNVGL Team!</h1>
</div>
</body>
</html>
