.management-title {
    text-align: center;
    font-size: 28px;
}

.management-action-button {
    //background: #eee;
    //color: black;
    margin: 35px 0px 15px 0px;
    //border-bottom: 3px #003591 solid;
    min-width: 140px;
}

.management-action-button:hover {
    //background: #cbecfa !important;
    //border-bottom: 3px #003591 solid !important;
    //color: black !important;
}

.pbi-table {
    thead tr {
        font-weight: bold;
    }
}

